section.footer{
  position: relative !important;
  background: #333;
  color: #f8f8f8;
}
.footer .social-media, .footer .contatos{
  border: solid 1px #f8f8f81f;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .social-media .facebook i:hover,
.footer .social-media .github i:hover,
.footer .social-media .linkedin i:hover{
  cursor: pointer;
  background: rgba(153, 153, 153, 0.747);
}
.footer .social-media h5{
  letter-spacing: 1.5px;
}
.footer .social-media div a{
  color: #eee
}
.footer .social-media div a:hover{
  text-decoration: none;
}
.footer div i{
  border: solid 1px #f8f8f891;
  width: 35px;
  height: 35px;
  font-size: 18px;
  text-align: center;
}
.footer .social-media span{
  letter-spacing: 1.5px;
}